.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  /* --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2; */

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-roboto);
  position: relative;
}

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.main button {
  cursor: pointer;
}

.header {
  text-align: center;
}

.h2 {
  /* margin-bottom: 1.75rem; */
  font-size: 2.5rem;
  font-weight: bold;
}

.p {
  font-size: 1.25rem;
}

.form {
  margin-top: 3.5rem;
  width: 100%;
}

.formBody {
  margin-bottom: 3.5rem;
}

.formGroup {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.label {
  font-size: 0.875rem;
}

.input {
  /* height: 3.75rem; */
  padding: 1.5rem 1.125rem;
  border: 1px solid #4d4d4d;
  border-radius: 0.25rem;
  background: transparent;
  color: #fff;
  outline: none;
}

.passwordInput {
  position: relative;
}

.input:focus {
  /* height: 3.75rem; */
  border: 1px solid #ababab;
}

.visibilityButton {
  background: transparent;
  border: 0;
  position: absolute;
  right: 1.125rem;
  top: 50%;
}

.formError {
  color: #dc2626;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  margin-top: auto;
  gap: 0.25rem;
}

.formError::before {
  content: "⚠";
  font-size: 0.75rem;
  margin-top: 0.125rem;
}

.rememberContainer {
  display: flex;
  justify-content: space-between;
}

.remember {
  display: flex;
  gap: 1rem;
}

/* .spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
  margin-right: 0.5rem;
  display: none;
}

.login.loading .spinner {
  display: inline-block;
} */

.spinner {
  width: 1rem;
  height: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.login {
  width: 100%;
  padding: 1.125rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #f6b8fd, #316ad7);
  border: 0;
  border-radius: 0.25rem;
}

.blob {
  background-image: url("/assets/images/gradient.png");
  width: 39%;
  height: 91%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -8.625rem;
  -webkit-filter: blur(150px);
  filter: blur(150px);
  z-index: -50;
}

/* .toast {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  max-width: 20rem;
  z-index: 1000;
}

.toast.success {
  background-color: var(--success-color);
}

.toast.error {
  background-color: var(--error-color);
}

.toast.show {
  transform: translateX(0);
} */

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .h2 {
    margin-bottom: 0.5rem;
    font-size: 1.875rem;
  }

  .p {
    font-size: 1rem;
  }

  .form {
    margin-top: 1.75rem;
  }

  .input {
    /* height: 3.75rem; */
    padding: 1.125rem 1.125rem;
  }

  .login {
    padding: 0.875rem 0;
    font-size: 1.125rem;
  }

  .remember label {
    font-size: 0.75rem;
  }

  .forgot {
  font-size: 0.75rem;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
